
button {
    background-color: #615550;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5em;
    margin-right: 0.2em;
    border-radius: 0.2em;
}

button:disabled {
    background-color: #ccc;
}

label input[type='file'] {
    display: none;
}

label[for='external_file'] {
    background-color: #615550;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5em;
    margin-right: 0.2em;
    border-radius: 0.2em;
    padding: 0 0.4em;
}

.label {
    display: inline;
    position: relative;
    padding-left: 1em;
    cursor: pointer;
    font-size: 1.5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.label:hover input ~ .checkmark {
    background-color: #ccc;
}

.label input:checked ~ .checkmark {
    background-color: #615550;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.label input:checked ~ .checkmark:after {
    display: block;
}

.label .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.playback_rate {
    color: #615550;
}

details {
    position: absolute;
}

details summary {
    margin-bottom: 0.5em;
}

details .letter {
    background-color: #615550;
    color: white;
    border-radius: 0.2em;
    padding: 0.2em 0.4em;
    font-size: 1.1em;
    font-weight: bold;
}