<div class="container">
  <div class="header">
          <h1>Cuer Event Manager</h1>
          <nav class="topNavigation">
              <ul>
                  <li><a routerLink="/home" ><i class="fas fa-home"></i></a></li>
                  <li><a routerLink="/events" ><i class="far fa-calendar-alt"></i></a></li>
              </ul>
          </nav>
      </div>
  <div class="App">
      <router-outlet></router-outlet>
      <div>
            <app-messages></app-messages>
      </div>      
  </div>
  <div class="footer">
      <em>&copy; 2017-2019 - Alexander Sopicki - Keep the floor going!</em>
  </div>
</div>