<div class="container">
  <div class="header">
          <h1>Cuer Event Manager</h1>
          <nav class="topNavigation">
              <ul>
                  <li><a routerLink="/home" title="Home"><i class="fas fa-home"></i></a></li>
                  <li><a routerLink="/library" title="Library"><i class="fas fa-folder-open"></i></a></li>
                  <li><a routerLink="/events" title="Events"><i class="far fa-calendar-alt"></i></a></li>
                  <li><a routerLink="/search" title="Search"><i class="fas fa-search"></i></a></li>
                  <li><i class="fas fa-sync" (click)="refresh()" title="Resync library"></i></li>
              </ul>
          </nav>
      </div>
  <div class="App">
      <router-outlet></router-outlet>
  </div>
  <div class="footer">
      <em>&copy; 2017-2019 - Alexander Sopicki - Keep the floor going!</em>
  </div>
</div>