#player {
    position: fixed;
    z-index: 100;
    margin-left: 50em;
    margin-top: 2em;
}

.highlight {
    background-color: #70625d; 
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}