@import 'abstracts/variables';

#player {
    position: fixed;
    z-index: 100;
    margin-left: 50em;
    margin-top: 2em;
}


:host ::ng-deep span.highlight {
    background-color: $primary-dark; 
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}