<div id="player">
    <button (click)="play()" [disabled]="playDisabled" >Play</button>
    <button (click)="stop()" [disabled]="stopDisabled">Stop</button>

    <p>
       <input type="range" name="playbackRate" min="0.5" max="2" [(value)]="playbackRate" step="0.01" 
       (change)="playRateChange($event)" (dblclick)="resetRate()" />
       Rate: {{playbackRate}}
    </p>
    Record cues<input type="checkbox" name="record" [(checked)]="recordCues" (change)="recordCues = !recordCues"/>
    <button (click)="save()" >Save cue marks</button>
</div>
<div id="cuecard" style="overflow: hidden;"></div>
