$primary:  #344955;
$primary-dark:  #232F34;
$primary-light:  #4A6572;
$secondary: #F9AA33;

/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'assets/css/fontawsome-all.css';
@import 'assets/css/maticons.css';
  
.textleft {
    text-align: left;
}

.textright {
    text-align: right;
}

.textcenter {
    text-align: center;
}