.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.col-1 {
  grid-column-start: 1;
  
}

.col-2 {
  grid-column-start: 2
}

.panel {
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  padding: 20px;
  text-align: center;
  max-height: 100px;
  min-width: 120px;
  border-radius: 2px;
  color: black;
}

.panel:hover {
  background-color: #eee;
  cursor: pointer;
  color: #607d8b;
}

a {
  text-decoration: none;
}

h3 {
  text-align: center;
  margin-bottom: 0;
}

h4 {
  position: relative;
}


.textbold {
  font-style: italic;
  font-weight: bold;
}
