<h3>Current events</h3>
<div>
  <a (click)="addEvent($event)" ><i class="fas fa-calendar-plus calendar-icon right"></i></a>
</div>
<div class="grid">
  <a *ngFor="let event of events" class="col-1-2" routerLink="/events/details/{{event.uuid}}">
    <div class="panel">
      <h4>{{event.name}}</h4>

      <div class="textbold">Start: <span>{{event.date_start | date:'EEE, MMM d, H:mm' }}</span></div>
      <div class="textbold">End: <span>{{event.date_end  | date:'EEE, MMM d, H:mm' }}</span></div>
    </div>
  </a>
</div>