.grid {
  display: grid;
  grid-auto-columns: 1fr auto;
  grid-gap: 10px;
  grid-auto-flow: row dense;
}

.panel {
  background-color: #F0EAD6;
}

.event.panel {
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  padding: 20px;
  text-align: center;
  border-radius: 2px;
  color: black;
  margin-bottom: 0.9em;
  grid-column-start: 1;
}

.program.panel {
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  padding: 20px;
  text-align: center;
  border-radius: 2px;
  color: black;
  margin-bottom: 0.9em;
}

.program.notes {
  text-align: left;
  grid-column-start: auto;
  grid-row: 1;
}

.event.title {
    text-align: center;
    margin-bottom: 0;
  }
  

.textbold {
  font-style: italic;
  font-weight: bold;
}

.tips-container {
  
}
 
.panel.tip {
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  padding: 20px;
  text-align: center;
  border-radius: 2px;
  color: black;
  margin-bottom: 0.9em;
}

.panel.tip ul {
  font-weight: bold;
  text-align: left;
}

.panel.tip ul li a {
  color: #615550;
}

.panel.tip ul li a:hover {
  color: #006E6D;
}

.tip-name { margin-left: 0.5em; }